.img{
    min-height: 100%;
  min-width: 100%;
      
  }
body{
    box-sizing: border-box;

    overflow-x: hidden;
}

.box{
  height: 150px;
  width: 150px;
  margin-left: 30px;
  border-style:  dashed ;
  border-width: 1px;
  border-color: rgb(202, 202, 202);
  position:inherit;

}
.box-container{
  margin-top: -28%;
}
.big{
  padding-left: 40px;
}
.big-box{
  height: 320px;
  width: 220px;
  border-style:  dashed ;
  border-width: 1px;
  border-color: rgb(202, 202, 202);
  position:inherit;
  margin-left: 20px;

}
  

.wid{
  margin-top: 20px;
  font-size: 30px;
  color: rgb(66, 66, 66);
  font-family:sans-serif;
  font-weight: 100;
}
